.changeP{
    height: 368px;
    width: 1200px;
    margin: 0 auto;
    .changeP_head{
        width: 100%;
        height: 36px;
        line-height: 36px;
        h3{
            line-height: 36px;
            font-size: 24px;
            font-family: "微软雅黑";
            font-weight: normal;
            float: left;
            width: 100px;
        }
        .changeBtn {
            float: right;
            width: 70px;
            height: 23px;
            cursor: pointer;
            padding-top: 5px;
            img {
                border: none;
                vertical-align: middle;
            }
        }
    }
    ul{
        margin-top:10px;
        width: 100%;
        height: 320px;
        li{
            border: 1px solid #e6e6e6;
            height: 100%;
            width: 228px;
            float: left;
            margin-right: 10px;
            .imgpro {
                display: block;
                padding: 36px 24px 30px 24px;
                text-align: center;
            }
            .hotPadding {
                padding: 0px 24px;
                .nameC {
                    color: #888888;
                    font-size: 14px;
                    line-height: 180%;
                    a {
                        display: block;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
                .priceC {
                    color: #ff5553;
                    font-size: 14px;
                    line-height: 180%;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}